.box{

    background-color: burlywood;
    margin: 20px;
    height: 100px;
    width: 100px;
    align-content: center;
    border: 2PX solid black;
    text-align: center;
    word-wrap: break-word;
    padding: 0;
    /* overflow-x: scroll;
    white-space: nowrap; */


}